{erl_opts, [debug_info,
    {i, "include"},
    {src_dirs, ["src"]},
    {parse_transform, lager_transform}
]}.

{lib_dirs,["lib"]}.

{deps_dir, ["lib"]}.

{deps, [
    {'mochiweb', {git, "https://github.com/mochi/mochiweb.git", {branch, "master"}}}
    , {'lager', {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}}
    , {'elog', {git, "https://github.com/soitun/elog.git", {branch, "master"}}}
    , {'evmon', {git, "https://github.com/soitun/evmon.git", {branch, "master"}}}
    , {'extlib', {git, "https://github.com/leeyisoft/extlib.git", {branch, "master"}}}
    , {'folsom', {git, "https://github.com/boundary/folsom.git", {tag, "0.8.2"}}}
]}.

{sub_dirs, ["rel"]}.

{relx, [
    {
        release,
        {errdb, "2.0.8" },
        [errdb, sasl]
    },

    {sys_config, "./etc/errdb.config"},
    {vm_args, "./etc/errdb.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.

{profiles, [
    { prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.